:root {
  --w1-brown:rgba(47, 23, 15, 0.9)
  --w1-orange: #E6A756;
}

body {
    text-align: center;
    background: url('../img/bg.jpg');
  }
  
  header {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  #header h1 {
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: white;
  }

  #header h3 {
    color: #E6A756;
  }
  
  nav {
    background-color: #000000;
    color: #ffffff;
    padding: 30px;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .cover-image {
  object-fit: cover;        
  }

  .image-container {
    position: relative;
}

.thongtin {
    position: absolute;
    top: 110px;
    left: 350px; 
    width: 500px;
    height: 350px;
    background: rgba(255, 255, 255, 0.85);
    padding: 30px;
    z-index: 1;
}

  .row {
    display: flex;
    justify-content: center;
  }
  
  .col-md-6 {
    width: 50%;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  footer {
    padding: 30px;
    background-color: rgb(47, 23, 15, 0.9);
    color: #ffffff;
    justify-items: center;
  }
  